.test{
	border:solid  2px black;
	height: 200px;
	width: 200px;
	margin:auto; 
	text-align: center;
	box-shadow: 10px 10px 8px 10px #888888;
	background-color: blue;
}
input{
	margin:auto;
	border-radius: 5px;


}
form{
	margin-top: 50px;

}
select{
	margin: 2px;
	border-radius: 5px;

}
input:focus{
	border: solid red 1px;
}
button{
	border-radius: 2px;
}